.nav {
    .links {
        align-items: center;
    }
    .headingText {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        letter-spacing: 2px;
    }
} 